@use './theme.scss';
@use './mixins.scss' as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: color(bg-page);
  color: color(text-primary);
}

.ReactModal__Content {
  background: color(bg-page) !important;
  color: color(text-primary) !important;
  border-color: color(border-default) !important;
}

a {
  color: inherit;
  text-decoration: none;
}

span.chords {
  color: color(chords);
  font-weight: 700;
}

.hide {
  span.chords {
    display: none;
  }
}

/* clears the ‘X’ from Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
