$palettes: (
    main: (
        400: #353535
            // 400: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 36%, rgba(0, 255, 115, 1) 87%)
    ),
    grey: (
        100: #f1f2f3,
        200: #e8eae9,
        300: #dadce0,
        400: #bdc1c6,
        500: #9aa0a6,
        600: #80868b,
        700: #5f6368,
        800: #3c4043,
        900: #202124
    ),
    black: (
        400: #000
    ),
    chords: (
        400: #ed7676
    ),
    text: (
        400: #000
    ),
    white: (
        400: #fff
    )
);
