@use '@/shared/styles/mixins.scss' as *;

.container {
  padding: 7px 0;
  display: grid;
}

.btn {
  display: flex;
  padding: 5px;
  border: 1px solid var(--border-default);
  border-radius: 15px;
  width: fit-content;
  background: none;
  outline: none;
  cursor: pointer;

  &--selected {
    background: var(--bg-surface-hover);
  }
}
