@use '@/shared/styles/mixins.scss' as *;

.search {
  display: flex;
  width: 100%;
  padding-inline: 25px 15px;
  padding-block: 6px;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  border: 1px solid color(border-strong);
  &__input {
    width: calc(100% - 40px);
    outline: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
    appearance: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    color: color(text-primary);
    &::placeholder {
      color: color(text-muted);
    }
  }
}
